.orangebg {
	background-color: orange;
}

.fuchsiabg {
	background-color: fuchsia;
}

.bluebg {
	background-color: blue;
}

.redbg {
	background-color: red;
}

canvas {
	width: 200pt;
	height: 100pt;
	margin: 10px;
	border: 1px solid lightgray;
}

.changeBtn {
	width: 100pt;
	height: 20pt;
}